
<script>
    var package_prices = {{ packages|json_encode()|raw }};</script>

{{ set_assets('applications/Marketplace/assets/css/dropzone.css') }}
{{ set_assets('applications/Marketplace/assets/js/dropzone.js') }}

<style>
    .features-group label{
        display: none;
    }

    .features-group .col-sm-9{
        width: 100%;
    }

    .features-group .col-sm-9 ul{
        columns: 3;
    }

</style>

<script>


            jQuery(document).ready(function () {

        changePricing(jQuery('#package_id').val());

        jQuery('#package_id').change(function () {
            changePricing(jQuery('#package_id').val());
        });
    });

    function changePricing(package_id) {

        jQuery('.currency_id-group').hide();
        jQuery('.price-group').hide();
        jQuery('.discounted_price-group').hide();
        jQuery('.sale_end_date-group').hide();
        jQuery('.sale_start_date-group').hide();

        if (package_id) {
            
            var has_currency = package_prices[package_id]['has_currency'];
            var has_price = package_prices[package_id]['has_price'];
            var has_discount = package_prices[package_id]['has_discount'];
            var prices = package_prices[package_id]['prices'];

            if (has_currency) {
                jQuery('.currency_id-group').show();
            }

            if (has_price) {
                jQuery('.price-group').show();
            }

            if (has_discount) {
                jQuery('.discounted_price-group').show();
                jQuery('.sale_end_date-group').show();
                jQuery('.sale_start_date-group').show();
            }

            var html = '<option value="">Select Package Prices</option>';

            jQuery.each(prices, function (index, price) {
                html += '<option value="' + price['id'] + '">$' + price['price'] + ' For ' + price['no_of_days'] + ' Days</option>';
            });

            jQuery('#package_price_id').html(html);

        }
    }

</script>