<div>
    <div class="clr"></div>
    <div class="well well-sm">
        You have selected the following details:
        <span class="advert-package-selection text-bold"></span>
        <span class="advert-package_price-selection text-bold"></span>
    </div>
    <div class="clr"></div>
</div>