/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2015, 2:28:55 PM
    Author     : sbc
*/

.advert-posted-date{
    padding:5px;
}

.photo-wrapper{

    border:1px solid #ddd;
    background: #efefef;
    float: left;
    margin:5px;
    text-align: center;
    cursor: pointer;
    width:150px;
    height: 150px;
    line-height: 150px;
}
.kazicode-form-field .photos .photo{
    width: auto;
    float: left;
}

.photo-wrapper img{
    width:100px;
}

.advert-photo-delete{
    margin-left:-20px !important;
}


.advert-images .main-advert-image img{
    width: 100%;
}
.advert-images .main-advert-image{
    border:1px solid #ddd;
    /*background: #FAFAFA;*/
    padding:10px;
}

.advert-images .nav-advert-images{
    margin-top: 5px;
}

.advert-images .nav-advert-images .pull-left, .advert-images .nav-advert-images .pull-right{
    border:1px solid #ddd;
    line-height: 60px;
    padding:0 5px;
    height: 60px;
}

.advert-images .nav-advert-images .pull-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
}

.advert-images .nav-advert-images .pull-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:pointer;
}

.advert-images  .nav-advert-pagination{
    height: 60px;
    overflow: hidden;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.advert-images  .nav-advert-pagination .nav-advert-image img{
    padding:1px;
    border:1px solid #ddd;
}

.advert-images  .nav-advert-pagination .nav-advert-image{
    width: 50px;
    height: 50px;
    float: left;
    margin:3px;
    cursor:pointer;
}

/*
.advert-images .main-advert-image{
    background: #FAFAFA;
    padding:10px;
    border: 1px solid #ddd;
}

.advert-images .main-advert-image img{
    width:100%;
}

.other-advert-images .other-advert-image{
    width: 100px;
    height:  100px;
    float: left;
    margin:5px;
    padding:5px;
    background: #FAFAFA;
    border: 1px solid #ddd;
    cursor: pointer;
}

.other-advert-images .other-advert-image img{
    width:100%;
}
*/

.advert-price-tag {
    background-color:#ff0000;
    color:#fff;
    display:inline-block;
    padding-left:4px;
    width: 100%;
}



.advert-price-tag{
    height:60px;
    background:#00A65A;
    color:#fff;
    position:relative;
    width:100%;
}
.advert-price-tag:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:30px solid transparent;
    border-right: 30px solid #00A65A;
}

.advert-current-price{
    font-size:30px;
    font-weight: bold;
}

.advert-previous-price{
    display:inline-block;
    text-decoration: line-through;
}

.advert-difference-price{
    margin-left: 20px;
    display:inline-block;
    font-style: italic;
    font-weight: bold;
}


.advert-contact-form div{
    margin-left:20px !important;
    margin-right:20px !important;
}
.advert-contact-form:before{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:30px solid transparent;
    border-right: 30px solid #ddd;
}

.advert-contact-form:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:1px;
    border:29px solid transparent;
    border-right: 28px solid #fafafa;
}

.advert-contact-form{
    margin-top:20px;
    padding-top:20px;
    background:#fafafa;
    position:relative;
    width:100%;
    border: 1px solid #ddd;
}

.advert-contact-form .btn-success{
    width:100%;
}

.advert-location-map{
    margin-top:10px;
}

.advert-location-map #map-canvas{
    width: 100%;
    height: 200px;
}

.col-sm-8{
    padding-left:0;
}


.bzoom { direction: ltr; }

.bzoom,
.bzoom_thumb,
.bzoom_thumb_image,
.bzoom_big_image,
.bzoom_zoom_preview,
.bzoom_icon,
.bzoom_hint { display: none }

.bzoom .bzoom_thumb { background: #fff url(./img/loading.gif) center no-repeat; }

.bzoom,
.bzoom ul,
.bzoom li,
.bzoom img,
.bzoom_hint,
.bzoom_icon,
.bzoom_description {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none
}

.bzoom,
.bzoom_magnifier div,
.bzoom_magnifier div img,
.bzoom_small_thumbs ul,
ul .bzoom_small_thumbs li,
.bzoom_zoom_area div,
.bzoom_zoom_img { position: relative }

.bzoom img,
.bzoom li {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none
}

.bzoom,
.bzoom_small_thumbs li { float: left }

.bzoom_right { float: right }

.bzoom li { position: absolute }

.bzoom img {
    vertical-align: bottom;
    width: 50px;
    height: 70px
}

.bzoom .bzoom_zoom_area,
.bzoom_zoom_area {
    background: #fff url(./img/loading.gif) center no-repeat;
    border: 1px solid #ddd;
    padding: 6px;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    display: none;
    z-index: 20;
}

.bzoom_zoom_area div { overflow: hidden; }

.bzoom_zoom_area .bzoom_zoom_img { position: absolute; }

.bzoom_wrap .bzoom_magnifier {
    background: #fff;
    outline: #bbb solid 1px;
    display: none;
    cursor: move;
}

.bzoom_magnifier div { overflow: hidden; }

.bzoom_wrap .bzoom_small_thumbs { overflow: hidden; }

.bzoom_wrap .bzoom_small_thumbs li {
    border: 1px solid #FFF;
    margin: 0px 10px 0px 0px;
    position: relative;
}

.bzoom_wrap ul li.bzoom_smallthumb_active {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    border: 1px solid #535353;
}

.marketplace-adverts {
    margin:10px 0; 
}

.marketplace-adverts .marketplace-advert{
    margin-top: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

.marketplace-adverts .marketplace-advert:hover{
    border: 3px solid #fa8708;
}

.marketplace-adverts .marketplace-advert img{
    padding:1px;

    width: 100%;
}

.marketplace-adverts .marketplace-advert-img{
    height: 200px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #eee;

}

.marketplace-adverts .marketplace-advert-price {
    margin-top: 5px;
}

.marketplace-adverts .marketplace-advert-price .advert-price-tag:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:15px solid transparent;
    border-right: 15px solid #fa8708;
}

.marketplace-adverts .marketplace-advert-price .advert-price-tag {
    width: 50px;
    float: right;
    height: 30px;
    margin-bottom: 5px;
    background: #fa8708;

}

.marketplace-adverts .advert-current-price {
    display:inline-block;
    font-size:22px;
    color:#C00;
}

.marketplace-adverts .marketplace-advert-price .advert-difference-price{
    margin-left: 0;
    font-size:18px;
    text-align: right;
    display: block;
    padding-left:0;
}

.marketplace-adverts .marketplace-advert .marketplace-advert-viewmore{
    background: #fa8708;
    display: none;
    position: relative;
    height: 25px;
}

.marketplace-adverts .marketplace-advert:hover .marketplace-advert-viewmore{
    display: block;
    margin-top: -29px;
}

.marketplace-adverts .marketplace-advert .marketplace-advert-viewmore a{
    color: white;
    font-size: 16px;
}

.marketplace-advert .marketplace-advert-thumbnails{
    clear:both;
}

.marketplace-advert .marketplace-advert-thumbnails .marketplace-advert-thumbnail{
    width: 30px;
    height: 30px;
    float: left;
}

.marketplace-main-advert{
    padding:5px;
    border: 1px solid #eee;
}

.marketplace-main-advert .item{
    height:350px;
}

.marketplace-main-advert .carousel-caption{
    background-color:rgba(0, 0, 0, 0.3);;
    bottom: 15px;
    right: 0;
    left: 0;
}
.marketplace-main-advert .carousel-caption h3{
    margin:5px;
}
.marketplace-main-advert .carousel-caption p{
    margin:0;
    line-height: 15px;
}
.marketplace-main-advert .carousel-caption a{
    color:white;
}
.marketplace-main-advert .carousel-caption a:hover, .marketplace-main-advert .carousel-caption a:focus{
    color: #c00;
}

.marketplace-top-adverts .advert-current-price{
    color:#c00;
    display:inline-block;
    font-size:16px;
}

.marketplace-top-adverts .marketplace-advert-price .advert-price-tag:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:15px solid transparent;
    border-right: 15px solid #fa8708;
}

.marketplace-top-adverts .marketplace-advert-price .advert-price-tag {
    width: 50px;
    float: right;
    height: 30px;
    margin-bottom: 5px;
    background: #fa8708;

}

.marketplace-other-advert{
    border: 1px solid #eee; 
    clear:both;
    margin-bottom:5px;
    padding:5px 0 5px 5px;
}

.marketplace-other-advert:hover{
    border: 3px solid #fa8708;
}

.marketplace-other-advert img{
    width:100%;

}

.marketplace-other-advert .marketplace-advert-price{
    position:relative;
    z-index: 10;
}

.marketplace-other-advert .advert-price-tag{
    right:0;
    position:absolute;
}

.marketplace-other-advert .advert-price-tag .advert-difference-price{
    margin-left:0;
    font-size:18px;
}

.marketplace-other-advert .marketplace-advert-img-wrapper{
    height: 120px;
    overflow:hidden;
    border: 1px solid #eee;
}

.package_price_id{
    background: #fafafa;
}
.package_id, .package_price_id  {
    padding-left:0;
    padding-right:0;
}

.package_id > *, .package_price_id > * {
    display: block;
}

.package_changed{
    font-weight: bold;
    color:red;
}

